/*-------RESETEO-------*/
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: var(--color-text);
  box-sizing: border-box; /*Noe*/
  list-style-type: none;/*Noe*/
}

/* ----------------------Variables ---------------------------------*/
/*Noe*/
:root {
  --color-text: #fff;
  --color-bg-nav: rgba(117, 118, 120, 0.822);
  --color-bg-article: rgba(183, 185, 188, 0.564);
  --color-line-green: #009688;
}

/* ------------------- BODY -----------------------------------------*/
body {
  width: 100%;
  height: 80%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)),
    url(Imagenes/darktable.jpg);
  background-position: center;
  background-size: cover;
  padding: 0 1rem; /*Noe*/
}

/*-------BARRA DE NAVEGACION-------*/

.logo {
  width: 15%;
  cursor: pointer;
  border-radius: 20%;
}

.tridente {
  display: none;
}

.navbar {
  margin: auto;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* position: fixed; */ /*Noe, si lo pongo cambia el estilo*/
  /* background-color: var(--color-bg-nav); */ /*Noe, si lo pongo cambia el estilo*/
}

.navbar menu li {
  /* list-style: none; Sacado por Noe, lo puse en el reseteo general de la web*/
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.navbar menu li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.navbar menu li::after {
  content: "";
  height: 3px;
  width: 0;
  background: var(--color-line-green);
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.navbar menu li:hover::after {
  width: 100%;
}
/*------------Encabezado texto----------*/
h1 {
  font-size: 65px;
  margin: 10px 0 30px;
  line-height: 80px;
}
/*------------FLEXBOX------------*/
#about {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid var(--color-line-green);
  justify-content: center;
}

.image {
  max-width: 35%;
  height: 30vh;
}

/* --------------------------Índex flexbox artículos --------------------*/
/*Noe*/
main section ul {
    display: flex;
}

.art {
    width: 99%;
    margin: 1rem 0;
    background-color: var(--color-bg-article);
    border-radius: 5px;
    padding: 1rem;
}

.art__item--1 {
    margin-right: 0.5%;
}

.art__item--2 {
    margin-left: 0.5%;
}
/* --------------------Grid página principal --------------*/
/*Noe*/
.container {
  margin: 5rem 0;
  height: 100%;
  width: 100%;
  background-color: var(--color-bg-article);
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  grid-template-areas: 
    "container__item--1 container__item--2 container__item--3"
    "container__item--4 container__item--5 container__item--6";
  border-radius: 5px;
}

.container__item--1 {
  grid-area: container__item--1;
}

.container__item--2 {
  grid-area: container__item--2;
}

.container__item--3 {
  grid-area: container__item--3;
}

.container__item--4 {
  grid-area: container__item--4;
}

.container__item--5 {
  grid-area: container__item--5;
}

.container__item--6 {
  grid-area: container__item--6;
}

.container__item:nth-child(odd) {
  padding: 3rem;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.container__img {
  width: 100%;
  height: 100%;
  background-size: cover;
  display: block;
}

/*----------@media queries----------*/

@media screen and (max-width: 600px) {
  /*Angel*/
  h1 {
    font-size: 35px;
    line-height: 50px;
  }

  /*--------------------------Media article index.html---------------------------*/
  /*Noe*/
  section ul {
    flex-direction: column;
  }

  /*--------------------------Media Grid index.html---------------------------*/
  /*Noe*/
  .container {
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    grid-template-areas: 
    "container__item--1 container__item--2"
    "container__item--4 container__item--3"
    "container__item--5 container__item--6";
  }

  .container__item:nth-child(odd) {
    padding: 1rem;
    font-size: 0.5rem;
  }
  
}
